h2 button {
    font-size: x-large;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#sections {
    padding: 8px;
}

#players {background-color: #aaffaa;}
#gameserver {background-color: #aaaaff;}
#gamemaster {background-color: #ffaaaa;}
#gameslave {background-color: #ff99ff;}


.wideInput {
    width: 400px;
}
#login-number-suffix {
    width: 160px;
}