@import url('https://fonts.googleapis.com/css?family=Playfair+Display|PT+Mono');

html, body {
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-image: url("http://2.bp.blogspot.com/-p_2XDye_UG4/UmpPMNhKc1I/AAAAAAAAEy4/CleBQJoGUD0/s1600/Tileable+marble+floor+tile+texture+(26).jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: 50% 50%;
    color: #22222f;
    text-shadow: 0 1px 0 rgba(255,255,255,.5), 0 -1px 0 rgba(0,0,0,1);
}

#Title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
#TurnInfo {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

#NextMoveIn {
    text-align: center;
    font-weight: bold;
}

#NextMoveTimer {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    top: -20px;
    height: 100px;
    text-align: center;
    font-size: 100px;
}

#GameColumns {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

#GameColumns .column {
    display:table-column;
    text-align: center;
    width: 33.33333%;
    float:left;
}